package components

import "template1/pkg/view/svgs"

templ ThemeSwitcher() {
		<div class="w-8 h-8 fixed top-2 right-3 z-20 flex 
		justify-center items-center" onclick="document.documentElement.classList.toggle('dark')">
			@svgs.Sun()	
			@svgs.Moon()
		</div>
}
