package home

import "github.com/aandrku/personal-website/pkg/view/shared"

templ AboutWindow(content string, imgURL string) {
	@shared.WindowBase("about") {
		<div class="w-full h-full sm:h-auto sm:max-w-[48rem] sm:max-h-[75vh] overflow-auto no-scrollbar markdown sm:px-6  pt-4 pb-56 sm:pb-80">
			<img class="float-left m-4 size-32" src={ imgURL }/>
			@templ.Raw(content)
		</div>
	}
}
