package home

import "github.com/aandrku/personal-website/pkg/view/layout"

templ Index(content, imgURL string) {
	@layout.BaseWithBgCanvas("aandrku | software developer") {
		@AboutWindow(content, imgURL)
	}
}
