package pages

import "github.com/aandrku/portfolio-v2/pkg/view/components"

templ Index() {
	@BaseWithBgDots() {
		<div id="window-container" class="select-none w-full h-full fixed z-10 flex justify-center items-center backdrop-blur-xs">
			@components.HomeWindow()
		</div>
	}
}
