package pages

import "github.com/aandrku/personal-website/view/layout"
import "github.com/aandrku/personal-website/pkg/model"

templ Projects(projects []model.Project) {
	@layout.BaseNew("projects") {
	}
}
